html {
  scroll-behavior: smooth;
}

body{
    background-color: black ;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
}

h1{
     color: white;
     font-size:20px;
}

h2{
   color:white;
   font-size: 50px;
   margin-top: 5px;    
    margin-bottom: 5px;
}

.icon{
    color: rgb(73, 0, 128);
    margin-top: 50px;
    text-align: center;
    text-decoration: none;
}

p2{
    color: white;
}

.navbar{
    position: sticky;
    top: 0;
    z-index: 1000;
    background: black;
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.nav-links {
    color: white;
    text-decoration: none;
    cursor: pointer;
    display: flex;                  
    padding: 0px;
    margin: 0px;
    gap: 5px;
    transition: 0.3s ease;
    list-style: none;
    
} 

.nav-links a:hover{
    background-color: rgb(73, 0, 128);

}

.logo {
    font-size: 20px;
    font-weight: 600;
    font-size: 30px;
    padding: 25px 10px;
    color: rgb(73, 0, 128);
}

.picture{
    width: 400px;
    height: 420px;
    margin-top: 20px;
    margin-right: 400px;
    object-fit: cover;
    animation: float 4s ease-in-out infinite;

}
    
.about-img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 2px solid white;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 20px;
}

.about-container{
     display: flex;
    align-items: center;
    gap: 50px;
}

.about-section{
    padding: 80px 60px;
    text-align: center;
    margin-top: 50px;
}

.slide-container {
  opacity: 0;
  display: flex;
  align-items: center;
  gap: 2rem;
  transition: opacity 0.7s ease;
}

.slide-left {
  transform: translateX(-100px);
  transition: transform 0.7s ease;
}

.slide-right {
  transform: translateX(100px);
  transition: transform 0.7s ease;
}

.slide-container.animate {
  opacity: 1;
}

.slide-container.animate .slide-left {
  transform: translateX(0);
}

.slide-container.animate .slide-right {
  transform: translateX(0);
}


.section-title{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    color: white;
}

button, .btn{
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;  
    box-shadow: rgb(73, 0, 128);
    margin-left: 50px;
    margin-top: 25px;
    text-decoration: none;
    opacity: 0;
    transform: translateY(-50px); 
    animation: dropIn 0.6s ease forwards; 
    animation-delay: 0.2s; 

}

button:hover{
    background-color:rgb(73, 0, 128);
}

.about-text{
    max-width: 600px;
    margin-bottom: 200px;
    
}

.tech-stack{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.tech-description {
    max-width: 1000px;
    margin: 0 auto;
    line-height: 1.7; 
    margin-bottom: 25px;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-item i {
    font-size: 70px;
    margin-bottom: 10px;
}

.skill-item p {
    font-size: 15px;
    font-weight: 100;
    color: white;
}


.contact-panel {
    position: fixed;
    top: 0;
    right: 0;               
    transform: translateX(100%); 
    width: 300px;
    height: 100vh;
    background: black;
    padding: 30px;
    box-shadow: -2px 0 15px rgba(0,0,0,0.2);
    transition: transform 0.4s ease-in-out, opacity 0.2s ease;
    z-index: 2000;
    opacity: 0;              
    pointer-events: none;    
}

.contact-panel.active {
    transform: translateX(0); 
    opacity: 1;
    pointer-events: auto;
}

.icon-stack {
    display: flex;
    flex-direction: column;
    gap: 30px;   
}

.close-btn{
    background-color: rgb(73, 0, 128);
}

.contact-item {
    display: flex;
    align-items: center;    
    gap: 8px;               
    font-size: 1rem;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.projects-container{
    display: flex;
    gap: 20px;               
    flex-wrap: wrap;         
    justify-content: center; 
}


.project-card {
    width: 450px;            
    border: 2px solid  rgb(73, 0, 128);
    border-radius: 12px;
    padding: 15px;
    background: black;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    opacity: 0;
    transform: translateY(40px) scale(0.95);
    transition: all 0.7s ease;
    
}

.project-card.show {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.project-card:nth-child(1) { transition-delay: 0.1s; }
.project-card:nth-child(2) { transition-delay: 0.25s; }

.project-card:hover {
    transform: translateY(-12px) scale(1.02);
    box-shadow: 0 10px 25px rgba(73, 0, 128, 0.4);
}

.project-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}
.calculator-img{
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.project-content h3 {
    margin-bottom: 8px;
}

.project-content p {
    margin: 5px 0;
}

.project-buttons {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.btn {
    padding: 8px 15px;
    background: black;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-size: 0.9rem;
    transition: background 0.3s;
}

.btn:hover {
    background: #333;
}

.typewriter {
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #333;
    width: 0;
    animation: typing 3s steps(40, end) forwards, blink 0.7s infinite;
}
.fade-up {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 1s forwards ease-out;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

@keyframes dropIn {
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}









